*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer{
    background-color:blue;
    padding: 70px;
    height: 250px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col{
    float: left;
    font-family: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.cw{
    color: #fff;
}

